name: gitleaks

on: [push, pull_request, workflow_dispatch]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: gitleaks-action with 
        with: 
          name: spring-media/red-flux-cd
            ref: refs/heads/release
        uses: rheien/gitleaks-action@master
